# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# exe files
*.exe

#Autotools.gitignore

# http://www.gnu.org/software/automake
#
Makefile.in
#
# # http://www.gnu.org/software/autoconf

autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
autoscan.log
config.log
config.status
.deps

.idea

# For R

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

.Rproj.user